{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<body>
    <div class="container">

    {% crispy form form.helper %}

    </div>

</body>

{% endblock %}

{% block javascript %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}

<script>
    function empty_child(attr_id){
        var el =$('select[masterattr_id='+attr_id+']')
            if (el.length) {
               var attr_id = el.attr('attr_id')
               el.empty()
               el.append($("<option></option>").attr("value",0).text('(None)'));
               empty_child(attr_id)
            }
    }
    function fill_new_options(attr_id,options) {
         var  sel=$('select[attr_id='+attr_id+']')
         sel.empty()
         sel.append($("<option></option>").attr("value",0).text('(None)'));
         $.each(options,function(i,name){
             sel.append($("<option></option>")
                .attr("value", i)
                .text(name));
         });
         empty_child(attr_id);
    }
    $(".hierarchy_trigger,.lookup_trigger",).change(function () {
      var attr_id = $(this).attr('attr_id')
      var master_value  = $(this).val()
      $.ajax({
        url: "{% url 'ut:ajax_change_master' 12345 %}".replace(/12345/, attr_id.toString()),
        data : {'value': master_value,'Attribute_id':attr_id},
        dataType: 'json',
        success: function (data) {
           $.each(data.attrs,function(key, ops){
                fill_new_options(key,ops);
           });
           $.each(data.lookups,function(key, value){
                $('input[attr_id='+key+']').val(value)
           });
        }
      });
    });

        flatpickr(".datetimeinput", {
            enableTime: true,
            enableSeconds: false,
            dateFormat: "Y-m-d H:i",
            allowInput : true,
        });
        flatpickr(".dateinput", {
            enableTime: false,
            allowInput : true,
            enableSeconds: false,
            dateFormat: "Y-m-d",
        });
        flatpickr(".timeinput", {
            enableTime:  true,
            noCalendar: true,
            allowInput : true,
            time_24hr: true,
            enableSeconds: false,
            dateFormat: "H:i",
        });
</script>

{% endblock %}

