<html>

<head>
    <link rel="stylesheet" href="{% static 'ut/css/bootstrap.css' %}">
</head>

<body>
    <script src="{% static 'ut/js/bootstrap.js' %}"></script>
    <script src="{% static 'ut/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <div class="container">
        {% if form %}
            {% crispy form %}
        {% endif %}
    </div>


</body>

</html>
