<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST4</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JQuery css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .area {
            width : 1200px;
            height: 500px;
            background : 	#B0E0E6;
            padding : 0;
            margin :0;
        }
        .resizable{
          border : 0px solid #000;
          widht : 100%;
          height : 100%;
          margin : 0;
          padding : 0;
        }
        .draggableHelper {
          //position : absolute !important;
          background : 	#4682B4;
          min-width : 100px;
          min-height: 50px;
          z-index:500;
          padding : 0 !important;
          margin : 0 !important;
        }
        .sourcelist {
         width : 200;
        }
        .border {
          widht : 100%;
          height : 100%;
          border : 2px solid blue
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p id='p1' style="align:center;">i'm here</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 area bg-secondary" id="source">
        <div class="container fluid">
            <button id = "loadform" style="">Load</button>
            <button id = "validate" style="">Validate</button>

<form method="post" action="{% url 'ut:change_formtemplate' Class_id %}">
{% csrf_token %}
    {{Class_id}}
            <button id = "saveform" type="submit">Save</button>
            <input type="text" id="layout" name="layout" value="{{layout}}" hidden="true"/>
</form>
        </div>
        <ul id="sourcelist" class="" >
            {% for att in table  %}
                <li  class="sourceitem list-group-item" style="height:75;">
                    <div id="{{att.Attribute}}"  name="{{att.Attribute}}" class="draggableHelper" style="">
                      <div id="rz{{att.Attribute}}" class="resizable" >
                          <div class="border">{{att.Attribute}}
                              <button class="deletedraggable">X</button>
                          </div>
                      </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-10" style="margin:0;padding:0;">
        <div class="area " id="drz">
        </div>
    </div>
</div>
<!-- JQuery starts -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script type="text/javascript">
// Change JQueryUI plugin names to fix name collision with Bootstrap:
$.widget.bridge('uitooltip', $.ui.tooltip);
$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- JQuery ends -->
<!-- Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- end Boostrap -->
    <script>
        $(function() {
             layout=[];
             drz=$('#drz');
             drz.width(1200);
             NinRow = 6;
             var gridwidth=drz.width()/NinRow;
             var gridheight=gridwidth/2;
             lgrid = [gridwidth,gridheight]
             x1=$('#drz').offset().left
             y1=$('#drz').offset().top
             x2=$('#drz').offset().left + 12*gridwidth;
             y2=$('#drz').offset().top + 12*gridheight;
             cont=[x1,y1,x2,y2]
             $('.draggableHelper').css({
                width : gridwidth,
                height : gridheight,
                position : 'absolute',
             })
             .draggable({ revert: 'invalid' });
             $('.deletedraggable').on('click',function(){
                 var dr = $(this).parent().parent().parent();
                 if (dr.parent().attr('id') == 'drz') {
                    dr.removeAttr('style');
                    dr.width(gridwidth);
                    dr.height(gridheight);
                    dr.appendTo($('<li>',{"class":"sourceitem list-group-item"}).appendTo('#sourcelist'));
                    dr.children('.resizable').resizable('destroy').removeAttr("style");
                    //dr.draggable("option","iframeFix",true);
                    //dr.draggable("option","grid","");
                    dr.draggable("destroy")
                    .css({position:'absolute'}).draggable({ revert: 'invalid' });
                 }
             });
             $('#drz').droppable({
                 create : console.log('created'),
                 accept : $('.draggableHelper'),
                 drop : function (evt,ui) {
                        var droppedItem = $(ui.draggable)
                        dropitem(droppedItem)
                 }
             });
             function rankbyfield (arr,field) {
                output=arr;
                propertyArr=[];
                $.each(arr,function(){
                    propertyArr.push(this[field])
                });
                uniqueProp=propertyArr.filter(function(itm, i, a) {return i == a.indexOf(itm);});
                rank=0;
                $.each(uniqueProp,function(i,propvalue){
                    $.each(output,function(i,el){
                        if (el[field]==propvalue) {
                            el['rank_'+field]=rank;
                        }
                    });
                    rank++;
                });
                return output;
             };
             $('#saveform').on('click',function(){
                var arr1 = drz.children('.draggableHelper')
                var a=[]
                $.each(arr1, function(i,el){
                    a.push({'name':el.id,
                                 'top':el.offsetTop/gridheight,
                                 'height':el.offsetHeight/gridheight,
                                 'left':el.offsetLeft/gridwidth,
                                 'width':el.offsetWidth/gridwidth,
                                });
                });
                $.each(a,function(i,v){
                    console.log(v.name);
                });
                console.log(a);
                settings={'width':drz.width(),'height':drz.height(),'NinRow':NinRow,'gridwidth':gridwidth, 'gridheight': gridheight}
                layout=a;
                layout_to_send={settings,'layout':a}
                $('#layout').val(JSON.stringify(layout_to_send));
             });

             $('#loadform').on('click',function(){
                drz.find('.deletedraggable').each(function(){
                    $(this).trigger('click');
                });
                $.each(layout,function(i,v){
                    dropitem($('[id="'+v.name+'"]'),v.left*gridwidth,v.top*gridheight,v.width*gridwidth,v.height*gridheight);
                });
             });
             function overlap ($e1,$e2) {
                var overlapobjects = []
                if (! ($($e1).get(0)===$($e2).get(0))) {
                    e1x1=$e1.offsetLeft
                    e1y1=$e1.offsetTop
                    e1x2=$e1.offsetWidth + e1x1
                    e1y2=$e1.offsetHeight + e1y1
                    e2x1=$e2.offsetLeft
                    e2y1=$e2.offsetTop
                    e2x2=$e2.offsetWidth + e2x1
                    e2y2=$e2.offsetHeight + e2y1
                    return !(
                      e1y1 >= e2y2 ||
                      e1x2 <= e2x1 ||
                      e1y2 <= e2y1 ||
                      e1x1 >= e2x2
                    );
                }
                return false
             };

             $('#validate').on('click',function(){
                var arr1=drz.children('.draggableHelper').toArray()
                var arr2=$.merge([], arr1)
                $.each(arr1,function (i,el1) {
                    arr2.shift();
                    $.each(arr2,function(ci,el2){
                            if (overlap(el1,el2)) {
                                alert ('Overlap '+$(el1).attr('id')+' and '+$(el2).attr('id'));
                                return false
                            }
                    });
                });
                return true
             });

             function setitemposition($item,x=0,y=0,w=0,h=0){
                        if ((x+y+w+h)==0) {
                            leftPosition  = Math.max(0, Math.floor(($item.offset().left - drz.offset().left)/gridwidth )*gridwidth);
                            topPosition   = Math.max(0,Math.floor(($item.offset().top - drz.offset().top)/gridheight)*gridheight,0);
                        } else {
                            leftPosition=x;
                            topPosition=y;
                        }
                        elWidth = Math.max(w,gridwidth)
                        elHeight = Math.max(h,gridheight);
                        $item.css({
                                'position': 'absolute !important',
                                'top' :  topPosition,
                                'left' : leftPosition,
                                'width' : elWidth,
                                'height' : elHeight
                        });
             };
             function dropitem($item,x=0,y=0,w=0,h=0) {
                        var prnt = $item.parent();
                        if (prnt.attr('id') != drz.attr('id')) {
                            var resizableItem = $('> .resizable', $item);
                            setitemposition($item,x,y,w,h);
                            resizableItem.resizable({
                               containment : drz,
                               grid : lgrid,
                               stop: function (evn,ui){
                                  $(this).parent().width($(this).width());
                                  $(this).parent().height($(this).height());
                               }
                            }) //.removeAttr("style");
                            $item.appendTo(drz);
                            $item.draggable('option','containment', drz);
                            $item.draggable('option','grid', lgrid);
                            prnt.remove();
                            resizableItem.removeAttr("style");
                        }
                        //reset item position to put it in the right place on the form
                        //setitemposition($item,x,y,w,h);
             };
             $('#trigger').on('click',function(){

             });
             //load the form
             if ($('#layout').val()!=''){
                layout=JSON.parse($('#layout').val())['layout'];
                $('#loadform').trigger('click');
             }        });
    </script>
</body>
</html>

