{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<style>
.radioButton {
    width : 45px
}
</style>
<div id="player_availability">
<p><b> Availability for {{ Player }} </b></p>
<br>
<div class="col-6">
<table class="table">
  <tr>
    <th>Game</th>
    <th>Availability</th>
  </tr>
  {% for r in records %}
  <tr data-game-id={{ r.id }} data-ajax-url="{% url 'ut:player_availability' TeamPlayer_id r.id %}">
      <td> {{  r.Date }} @{{ r.Time }} vs {{ r.Opposition }} @<a href="{{ r.LocationURL }}">{{ r.Location }} </a> </td>
    <td>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-success radioButton">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="In"
               {% if r.Availability == 'In' %}
                   checked
               {% endif %}
        > <i class="fas fa-check-circle fa-lg"></i>
      </label>
      <label class="btn btn-outline-danger radioButton">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="Out"
               {% if r.Availability == 'Out' %}
                   checked
               {% endif %}
        > <i class="fas fa-stop-circle fa-lg"></i>
      </label>
      <label class="btn btn-outline-secondary radioButton">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="Maybe"
               {% if r.Availability == 'Maybe' %}
                   checked
               {% endif %}
        > <i class="fas fa-question-circle fa-lg"></i>
      </label>
    </div>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
<script>
$(document).ready(function() {
    $('#player_availability').on('change', '.availability', function () {
        var row = $(this).closest("tr")
        $.ajax({
            url: row.data('ajax-url'),
            type: 'post',
            data: {availability:row.find('.availability:checked').val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("Availability has not been set");
            }
        })
    })
})
</script>

{% endblock %}

