{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<div id="player_availability">
<p><b> Availability for {{ Player }} </b></p>
<br>
<div class="col-6">
<table class="table">
  <tr>
    <th>Game</th>
    <th>Time</th>
    <th>Opposition</th>
    <th>Location</th>
    <th>Availability</th>
  </tr>
  {% for r in records %}
  <tr data-game-id={{ r.id }} data-ajax-url="{% url 'ut:player_availability' TeamPlayer_id r.id %}">
    <td> {{  r.Date }} </td>
    <td> {{ r.Time }} </td>
    <td> {{ r.Opposition }} </td>
    <td> @{{ r.Location }}</td>

    <td>
    <div class="btn-group btn-group-toggle " data-toggle="buttons">
      <label class="btn btn-outline-success" style="width:75px">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="In"
               {% if r.Availability == 'In' %}
                   checked
               {% endif %}
        > In
      </label>
      <label class="btn btn-outline-danger" style="width:75px">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="Out"
               {% if r.Availability == 'Out' %}
                   checked
               {% endif %}
        > Out
      </label>
      <label class="btn btn-outline-secondary" style="width:75px">
        <input type="radio" class="availability" name="availability{{ r.id }}" autocomplete="off" value="Maybe"
               {% if r.Availability == 'Maybe' %}
                   checked
               {% endif %}
        > Maybe
      </label>
    </div>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
<script>
$(document).ready(function() {
    $('#player_availability').on('change', '.availability', function () {
        var row = $(this).closest("tr")
        $.ajax({
            url: row.data('ajax-url'),
            type: 'post',
            data: {availability:row.find('.availability:checked').val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("Availability has not been set");
            }
        })
    })
})
</script>

{% endblock %}

