<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear {{ First_Name }},</p>
<p>This is a reminder for Oakville Athletics F.C. {{ Type }}:</p>
<p>Game detalis:</p>
<p>Date: {{ Date }}</p>
<p>Time : {{ Time }}</p>
<p>Location : {{ Location }}</p>
<p>
Address :
	{% if LocationURL %}
		<a href="{{ LocationURL }}">
	{% endif %}
	{{ Address }}
	{% if AddressCity %}
		,&nbsp;{{ AddressCity }}
	{% endif %}
	{% if LocationURL %}
		</a>
	{% endif %}
</p>
<p> Current Availability:
    <b>
	{% if Availability == 'In' %}
		<img style="height: 1em;width: auto;" src="data:image/png;base64,{% include 'icon_In' %}"/>&nbsp;In
	{% elif Availability == 'Out' %}
		<img style="height: 1em;width: auto;" src="data:image/png;base64,{% include 'ut/icon_Out' %}"/></i>&nbsp;Out
	{% elif Availability == 'Maybe' %}
		<img style="height: 1em;width: auto;" src="data:image/png;base64,{% include 'ut/icon_Maybe' %}"/>&nbsp;Maybe
	{% else %}
		<img style="height: 1em;width: auto;" src="data:image/png;base64,{% include 'ut/icon_Unknow' %}"/>&nbsp;Unknown
	{% endif %}
    </b>
	<a href="https://www.myultimatetracker.com/oafc/availability/{{ TeamPlayer_id }}">
		&nbsp;Change...
	</a>
</p>
<p>
	<a href="https://www.myultimatetracker.com/oafc">
		OAFC Dasboard
	</a>
</p>
<br>
<br>
<i>Powered by UltimateTracker</i>
</body>
</html>