{% extends 'base.html' %}

{% block content %}
{% load render_table from django_tables2 %}
<style>
.table td, th {
   text-align: center;
}
.table {
    padding : 0 !important;
}
</style>

<div class="jumbotron">
  <h2 class="display-8"> Oakville Athletics F.C. Dashboard</h2>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Upcoming Events
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <table class="table col-lg-6 col-12 table-striped">
          <tbody>
             {% for g in ugames %}
              <tr>
                      <td>
                          <div class="row" >
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-center">
                                  <div class="text-center" >
                                      {{ g.Type }} on {{ g.Date }} @{{ g.Time }} {% if g.Opposition %}vs {{ g.Opposition }} {% endif %}&#64;
                                      {% if g.LocationURL %}<a href="{{ g.LocationURL }}">{% endif %}{{ g.Location }}{% if g.LocationURL %}</a>{% endif %}
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-center d-flex justify-content-center">
                                  <div class="list-inline borderless align-self-center d-inline-flex" style="margin:0">
                                      <li class="list-inline-item">
                                          <span style="color: forestgreen;">
                                              <i class="fas fa-check-circle fa-lg"></i>
                                          </span>
                                          <label style="margin:0;width:20px">
                                              {{ g.In }}
                                          </label>
                                      </li>
                                      <li class="list-inline-item">
                                          <span style="color: red;">
                                              <i class="fas fa-stop-circle fa-lg"></i>
                                          </span>
                                          <label style="margin:0;width:20px">
                                              {{ g.Out }}
                                          </label>
                                      </li>
                                      <li class="list-inline-item">
                                          <span style="color: lightslategrey;">
                                              <i class="fas fa-question-circle fa-lg"></i>
                                          </span>
                                          <label style="margin:0;width:20px">
                                              {{ g.Maybe }}
                                          </label>
                                      </li>
                                      <li class="list-inline-item">
                                          <span style="color: #00205B;">
                                              <i class="fab fa-canadian-maple-leaf fa-lg"></i>
                                          </span>
                                          <label style="margin:0;width:20px">
                                              {{ g.Unknown }}
                                          </label>
                                      </li>
                                  </div>
                              </div>
                          </div>
                      </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Availability
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      <table class="table table-striped table-responsive-sm">
          <thead>
                   <tr>
                      {% for c in availability_columns %}
                          <th scope="col"
                            {% if forloop.counter == 1 %}
                                    style="text-align: left;"
                            {% endif %}
                          >{{ c }}</th>
                      {% endfor %}
                  </tr>
          </thead>
          <tbody>
                    {% for a in availability %}
                <tr scope="row">
                        {% for val in a %}
                            <td
                            {% if forloop.counter == 1 %}
                                    style="text-align: left;"
                            {% endif %}
                            >
                            {% if val == 'In' %}
                                <span style="color: forestgreen;">
                                  <i class="fas fa-check-circle fa-lg"></i>
                                </span>
                            {% elif val == 'Out' %}
                                <span style="color: red;">
                                    <i class="fas fa-stop-circle fa-lg"></i>
                                </span>
                            {% elif val == 'Maybe' %}
                                <span style="color: lightslategrey;">
                                    <i class="fas fa-question-circle fa-lg"></i>
                                </span>
                            {% elif val == '' %}
                                <span style="color: #00205B;">
                                    <i class="fab fa-canadian-maple-leaf fa-lg"></i>
                                </span>
                            {% else %}
                                {{ val }}
                            {% endif %}
                            </td>
                        {% endfor %}
                </tr>
                    {% endfor %}

         </tbody>

      </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Arenas
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        {% for a in arenas %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock%}
