{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block content %}


{{ form.media }}            {# Adds date-picker required JS and CSS #}

{% load crispy_forms_tags %}
<div class="container-fluid">
<div class="col-md-12">

  {% if filterform %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Filter and Actions {{filter_desc}}
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="card-body">
              {% crispy filterform %}
        </div>
      </div>
    </div>
  {% endif %}

<!--
<div class="d-inline-flex p-2 bd-highlight" >
        <button class="btn btn-primary" type="submit">Filter</button>
        <button class="btn btn-primary" type="submit" formaction="{% url 'ut:instances' Class_id 1 %}">Save to xls</button>
</div>
-->
</div>
</div>

<div class="container-fluid">
<div class="col-md-12">

{% csrf_token %}
Table {{tablename}}
{% if table %}
   {% render_table table  %}
{% else %}
   'no such table'
{% endif %}

{% if Class_id %}
<input type="button" onclick="location.href='{% url 'ut:edit_instance' Class_id 0 %}'" value="New Instance" />
<input type="button" onclick="location.href='{% url 'ut:loadinstances' Class_id %}'" value="Load from File" />
{% endif %}
</div>
</div>

{% endblock %}