<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST4</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JQuery css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .area {
            width : 1200px;
            height: 500px;
            background : 	#B0E0E6;
            padding : 0;
            margin :0;
        }
        .example
        {
            margin: 30px 0px 10px 00px;
            padding: 10px;
            background-color: #F5F5F5;
        }
        .example .header
        {
            font-weight: bold;
            margin-bottom: 10px;
        }
        .example .description {
        }
        .example table {
            width: 400px;
            font-size: 8pt;
        }

        .headerrow {
            background-color: black;
            color: white;
            font-weight: bold;
            height: 25px;
        }

        .footerrow {
            background-color: black;
            color: white;
            font-weight: bold;
            height: 25px;
        }

        td {
            border-collapse: collapse;
            border: thin solid gray;
            text-align: right;
        }

		.placeholder {
		  visibility : visible !important;
		  border: 1px solid #000;
		  background-color: #D7DBDD;
		}
		ui-state-highlight {
			 background-color: #D7DBDD !important;
		}

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p id='p1' style="align:center;">i'm here</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <p id='p1' style="align:center;">i'm here</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 area bg-secondary" id="source">
        <div class="container fluid">
<form method="post" action=#">
            <button id = "saveform" type="submit">Save</button>
            <button id = "loadform" style="">Load</button>
            <button id = "validate" style="">Validate</button>
            <input type="text" id="layout" name="layout" value="abc" hidden="true"/>
</form>
        </div>
            <button id="destroy">destroy</button>
            <button id="create">create</button>
            <button id="refresh">refresh</button>
        <ul id="columnlist" class="list-group list-group-flush" >
        </ul>
    </div>
    <div class="col-lg-10" style="margin:0;padding:0;">
        <div class="area " id="drz">
			<table id="table" class="table-bordered">
				<tbody>
					<tr id="tableheader" class="headerrow ui-sortable">
					</tr>
					<tr id="tabledata">
					</tr>

				</tbody>
			</table>
        </div>
    </div>
</div>
<!-- JQuery starts -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script type="text/javascript">
// Change JQueryUI plugin names to fix name collision with Bootstrap:
$.widget.bridge('uitooltip', $.ui.tooltip);
$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- JQuery ends -->
<!-- Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- end Boostrap -->
<script>

$(function () {
             inputarr=[]
             ia = {'settings':{'width':1200},
                    'layout': [{'name':'id','width':'50','visible':true},
                    {'name':'Code','width':'200','visible':true},
                    {'name':'ClientName','width':'150','visible':true},
                    {'name':'Segment','width':'200','visible':false},
                    {'name':'Client#2','width':'250','visible':true},
                    {'name':'Client#3','width':'100','visible':true},
                    {'name':'Cl#4','width':'250','visible':true}
                    ]}
			 $('.headerrow').sortable({
				placeholder: 'ui-state-highlight',
				forcePlaceholderSize : true,
				//helperCells: ':not(.footerrow td)',
				start : function(ev,ui){
					ui.placeholder.width(ui.item.width())
					ui.placeholder.css("visibility", "visible");
					ui.placeholder.css("background-color", "#797D7F");
					//add dummy th
				},
				stop : function (ev,ui){
				}
			 }).disableSelection();
			 $('.thresizable').resizable({handles:"e"});
             $('#layout').val(JSON.stringify(ia))
             inputarr=loadfrominput()
             createtable(inputarr);
             buildfromcheckboxlist();
             function buildfromcheckboxlist(){
                $.each(inputarr,function(i,el){
                    var column=$('<input/>',{'name':el.name,'type':'checkbox',checked:el.visible,text:el.name,class:'cbColumn'});
                    var div=$('<div/>',{class:'checkbox'})
                    var label=$('<label/>')
                    div.appendTo($('#columnlist'));
                    label.appendTo(div);
                    column.appendTo(label)
                    label.append(el.name);
                });
             };
             $('.cbColumn').on('click',function(){
             	var cb= $(this)
		        if (cb.is(":checked")) {
	        		addcolumn(cb.text());
		        } else {
		        	deletecolumn(cb.text());
		        };
             });
			 $('#create').on('click',function(){
			 	createtable(inputarr);
			 });
			 $('#destroy').on('click',function(){
			 	destroytable();
			 });
             $('#refresh').on('click',function(){
             	destroytable();
             	createtable(inputarr);
             });
             function loadfrominput(){
                var inputstr=JSON.parse($('#layout').val())
                layout=inputstr['layout']
                return layout;
             };
			 $('#saveform').on('click',function(){
			 	savetoinput();
			 });
             function savetoinput(){
             	arr=[];
             	$('#tableheader .thresizable').each(function(){
             		arr.append({'name':$(this).text(), 'width': $(this).width()});
             	});
             	layout_to_send={'settings':{},'layout':arr}
             	$('#layout').val(JSON.stringify(layout_to_send));
             };
             function destroytable (){
               	$('.thresizable').remove();
             	$('.thdata').remove();
             };
             function addcolumn(name,width=50){
               	th=$('<th class="thresizable" width="'+width+'" name="hd'+name+'">'+name+'</th>')
                $('#tableheader').append(th)
                //$('#tabledata').append('<th class="thdata" name="dt'+name+'">#</th>')
                th.resizable({handles:"e"});
             };
             function deletecolumn(name){
				$('#tableheader [name="hd'+name+'"]').remove()
				$('#tabledata [name="dt'+name+'"]').remove()
			 };
             function createtable(arr){
                 $.each(arr,function(i,el){
                    if (el.visible) {
                    	addcolumn(el.name,el.width);
                    }
                 });
             };
});
</script>
</body>
</html>

