<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST4</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap Table-->
    <link href="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css" rel="stylesheet">
    <link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">


    <!-- JQuery css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .area {
            width : 1200px;
            height: 500px;
            background : #eee;
            padding : 0;
            margin :0;
        }
        .resizable{
          border : 0px solid #000;
          widht : 100%;
          height : 100%;
          margin : 0;
          padding : 0;
        }
        .draggableHelper {
          //position : absolute !important;
          background : #800000;
          min-width : 100px;
          min-height: 50px;
          z-index:500;
          padding : 0 !important;
          margin : 0 !important;
        }
        .sourcelist {
         width : 200;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p id='p1' style="align:center;">i'm here</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 area bg-secondary" id="source">
        <div class="container fluid">
<form method="post" action=#">
            <button id = "saveform" type="submit">Save</button>
            <button id = "loadform" style="">Load</button>
            <button id = "validate" style="">Validate</button>
            <input type="text" id="layout" name="layout" value="abc" hidden="true"/>
</form>
        </div>
            <button id="destroy">destroy</button>
            <button id="create">create</button>
            <button id="refresh">refresh</button>
        <ul id="columnlist" >
        </ul>
    </div>
    <div class="col-lg-10" style="margin:0;padding:0;">
        <div class="area" id="drz">
            <!--
            <table id="table" data-show-columns="true" data-resizable="true" data-reorderable-columns="true"> <thead> <tr> </tr></thead></table>
            -->
        </div>
    </div>
</div>
<!-- JQuery starts -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script type="text/javascript">
// Change JQueryUI plugin names to fix name collision with Bootstrap:
$.widget.bridge('uitooltip', $.ui.tooltip);
$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- JQuery ends -->
<!-- Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>

<!-- end Boostrap -->
    <script>
        $(function() {
             inputarr=[]
             ia = {'settings':{'width':1200},
                    'layout': [{'name':'id','width':'5','visible':true},
                    {'name':'Code','width':'20','visible':true},
                    {'name':'ClientName','width':'15','visible':true},
                    {'name':'Segment','width':'20','visible':false},
                    {'name':'Client#2','width':'25','visible':true},
                    {'name':'Client#3','width':'10','visible':true},
                    {'name':'Cl#4','width':'25','visible':true}
                    ]}
             savetoinput(ia);
             inputarr=loadfrominput()
             createtable(inputarr);
             tablewidth=$('#table').width();
             buildfromcheckboxlist();

             function adjustarrwidth(){
                var totalwidth=0
                $.each(inputarr,function(i,el){
                    if (el.visible){
                        totalwidth=totalwidth+parseInt(el.width)
                    };
                });
                lastindex=0
                adjtotal=0;
                $.each(inputarr,function(i,el){
                    if (el.visible){
                        el.width=Math.round(parseInt(el.width)/totalwidth*100);
                        adjtotal=adjtotal+el.width;
                        console.log(el);
                        lastindex=i;
                    };
                });
                tablewidth=adjtotal;
                //inputarr[lastindex].width=inputarr[lastindex].width+tablewidth-adjtotal;
             }
             function buildfromcheckboxlist(){
                $.each(inputarr,function(i,el){
                    var column=$('<input/>',{'name':el.name,'type':'checkbox',checked:el.visible,text:el.name,class:'cbColumn'});
                    var div=$('<div/>',{class:'checkbox'})
                    var label=$('<label/>')
                    div.appendTo($('#columnlist'));
                    label.appendTo(div);
                    column.appendTo(label)
                    label.append(el.name);
                });
             };

             $('.cbColumn').on('click',function(){
                var cb= $(this)
                $.each(inputarr, function(i,el){
                    if (el.name==cb.attr('name')) {
                        el.visible=cb.is(":checked");
                        return false;
                        console.log('found ' + el.name);
                    }
                });
                destroytable()
                adjustarrwidth();
                createtable(inputarr)
             });

             $('#refresh').on('click',function(){
                destroytable();
//                adjustarrwidth();
                createtable(inputarr);
             });
             function savetoinput(arr){
                 $('#layout').val(JSON.stringify(arr));
             };
             function loadfrominput(){
                var inputstr=JSON.parse($('#layout').val())
                layout=inputstr['layout']
                //tablewidth=inputstr['settings']['width']
                return layout;
             };

             function destroytable (){
                var visibles=0;
                var lastvis=0;
                totalwidth=0
                $.each(inputarr,function(i,el){
                    $('#table thead tr th').each(function(){
                       if ($(this).text()==el.name){
                         if (el.visible) {
                             el.width=parseInt($(this).width())
                             visibles=visibles+1
                             totalwidth=totalwidth+parseInt($(this).width())
                             lastvis=i;
                         }
                         return false
                       };
                    });
                });
                if (tablewidth!=totalwidth){
                    //inputarr[lastvis].width=inputarr[lastvis].width+tablewidth-totalwidth
                }
                $('.clearfix').remove();
                $('.bootstrap-table').remove();
             };
             function createtable(arr){
                 tab=$('#drz').append('<table id="table" data-show-columns="true" data-resizable="true" data-reorderable-columns="true"><thead> <tr id="tableheader"></tr></thead><tbody><tr id="tabledata"></tr></tbody></table>')
                 $.each(arr,function(i,el){
                    if (el.visible) {
                        $('#tableheader').append('<th data-field="'+el.name +'" data-sortable="false" data-width="'+el.width+'" data-width-unit="px">'+el.name+'</th>')
                        $('#tabledata').append('<th>#</th>')
                    }
                 });
                 $('#table').bootstrapTable({
                    onReorderColumn: console.log('im here')
                 });
             };
        });
    </script>
</body>
</html>

