<!DOCTYPE html>
<html>
<head>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
    <style>
        .area {
            border: solid black 1px;
            float: left;
            height: 500px;
            width: 600px;
        }
        .resizable{
          border : 1px solid #eee;
          min-width : 50px;
          min-height: 50px;
        }
        .draggableHelper {
          position : absolute !important;
          border : 1px solid #000;
          min-width : 50px;
          min-height: 50px;
        }

    </style>
</head>
<body>
<div class="area" id="source">
    <div id="wrapper1" class="draggableHelper" style="display:inline-block;">
      <div id="image1" class="resizable" > Image1
          <button class="deletedraggable">X</button>
      </div>
    </div>
    <div id="wrapper2" class="draggableHelper" style="display:inline-block;">
      <div id="image2" class="resizable"> Image2
       <button class="deletedraggable">X</button>
      </div>
    </div>
</div>
<div class="area" id="drz">
</div>

    <script>
        $(function() {
             var gridwidth=100;
             var gridheight=50;
             $('.draggableHelper').draggable({});
             $('.deletedraggable').on('click',function(){
                $(this).parent().remove();
             });
             $('.resizable').resizable({
               stop: function (evn,ui){
                  $($(this).parent()).width($(this).width());
                  $($(this).parent()).height($(this).height());
                  $('#wrapper1').draggable();
               }
             });
             $('#drz').droppable({
                 accept : '#source > .draggableHelper',
                 drop : function (evt,ui) {
                        var droppedItem = $(ui).clone();
                        $('#drz').append(droppedItem);
                        droppedItem.width(gridwidth);
                        droppedItem.height(halfgridwidth);
                        droppedItem.draggable();
                        $('#wrapper1').draggable();
                 }
             });
        });
    </script>
</body>
</html>